/* Artfully masterminded by InboundNow  */

/* -------------------------------------------------- 
   Styles
----------------------------------------------------*/

#logo{


}

header{
    padding-top: 14px;
    padding-bottom: 14px;
}

#top-content{
padding-top: 25px;
    padding-bottom: 25px;
}

#email-box{


    position: relative;
    height: 585px;
    background-color: #ffffff;
    padding: 6px 0 6px 21px;
    text-align: left;
    font-size: 11px;
    border: none;
    max-width: 450px;
    /* float: left; */
    margin-top: -371px;
    left: 56px;
    border-radius: 9px;
    border: 1px solid;
}
.button_div > input[name='reset']{

    display: none;
}


#email-box input[type='text'],#email-box input[type='password']{

    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;


}

.button_div > input{
    width: 95%;
    margin-top: 15px;
    display: block;
    padding: 7px;
    font-size: 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #417ca6;
    background-image: -moz-linear-gradient(top, #417ca6, #115a8d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#417ca6), to(#115a8d));
    background-image: -webkit-linear-gradient(top, #417ca6, #115a8d);
    background-image: -o-linear-gradient(top, #417ca6, #115a8d);
    background-image: linear-gradient(to bottom, #417ca6, #115a8d);
    background-repeat: repeat-x;
    border-color: #115a8d #115a8d #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff417ca6', endColorstr='#ff115a8d', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #ffffff !important;


}