/* Artfully masterminded by InboundNow  */

/* -------------------------------------------------- 
   Styles
----------------------------------------------------*/

#logo{


}

header{
    padding-top: 14px;
    padding-bottom: 14px;
}

#top-content{
padding-top: 25px;
    padding-bottom: 25px;
}